<input type="checkbox" id="toggle-button-checkbox"
       (change)="changeCheckValue($event)" [checked]="role" [disabled]="!students?.length">
<label class="toggle-button-switch"
       for="toggle-button-checkbox"></label>
<div class="toggle-button-text">
  <div class="toggle-button-text-on">T</div>
  <div class="toggle-button-text-off">S</div>
</div>
