<div class="container main">
  <div class="row">
    <div class="col-11">
      <h1>Welcome {{username}}</h1>
    </div>
    <div class="col-8">
      <iframe id="player" width="560" height="315" [src]="safeURL" frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div class="col-3">
      <app-toggle-button (changed)="getCheckedValue($event)" [role]="role=='Teacher'" [id]="id"></app-toggle-button>
      <app-students [id]="id">
      </app-students>
      <button (click)="logout()" class="btn btn-primary">Leave Room</button>
    </div>
  </div>
</div>
