<div class="col-6">
  <table>
    <tr>
      <th>Teacher</th>
    </tr>
    <tr>
      <td>{{teacher}}</td>
    </tr>
  </table>
</div>
<div *ngIf="students" class="col-6">
  <table>
    <tr>
      <th>Students</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>
        {{student.student}}
      </td>
    </tr>
  </table>
</div>
